.secciones{
    height: 100vh;
}
#seccionDos{
    height: 200vh;
}
#SeccionCuatro{
    background: rgb(178,132,213);
    background: linear-gradient(0deg, rgb(183, 150, 209) 0%, rgb(223, 211, 231) 48%, rgb(255, 255, 255) 92%);
}
