.navbar{
    transition: all 1s;
}

.nav-menu{
    font-weight: bold;
    list-style: none;
}
.tongle{
    font-size: 1rem;
    color:#ffffff
}
.Celmenu{
    width: 50vw;
    top:12%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius:0.5em ;
    background: rgba(91, 99, 102, 0.596);
    transition: all 600ms;
}
.enlace{
    cursor: pointer;
    transition: all 500ms;
}
.enlace:hover{
    font-size: 1.5rem;
}
