.navbar{
    transition: all 1s;
}
.logo{
    height: 4em;
}
.nav-menu{
    font-weight: bold;
    list-style: none;
}
.tongle{
    font-size: 1.5em;
    color:#ffffff
}
.Celmenu{
    text-align: left;
    top:12%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius:0.5em ;
    background: rgba(91, 99, 102, 0.596);
    transition: all 600ms;
}
.enlace{
    cursor: pointer;
    transition: all 500ms;
}
.enlace:hover{
    font-size: 1.5rem;
}
@media (max-width: 800px) {
    .logo{
        height: 3em;
    }
    .tongle{
        font-size: 1em;
    }
}