.portada{
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
}
.Description{
    font-family: 'Times New Roman';
    font-size: 1em;
}

@media (max-width: 768px){
    .portada{
        position: absolute;
    }
    #mep{
        height: 12vh;
    }
    #marca{
        height: 10vh;
    }
}

// @media (min-width: 992px){
//     .Description{
//         background-color: rgba(91, 99, 102, 0.200);
//         border-radius: 2rem;
//     }
// }