.portada{
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.celDescription{
    font-family: 'Times New Roman';
}
.logosBox{
   max-width: 90vw;
}
.logos{
    width: 40vw;
    
}

@media (max-height: 700px){
    .portada{
        position: absolute;
        background-size: 100vw;
    }
    .logosBox{
    max-width: 90vw;
    }
    .logos{
        width: 40vw;
        
    }
}

@media (min-height: 700px) and (max-width: 500px){
    .portada{
        position: absolute;
        background-size: 100vw;
    }
    .celDescription{
        margin-top: 30vh;
    }
    .logosBox{
        max-width: 80vw;
    }
    .logos{
        position: relative;
        width: 70vw;
    }
}