@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.cuerpoProyecto{
    font-family: 'Roboto', sans-serif;
}
#titulo1 , #titulo2{
    font-size: 2em;
    font-weight: bold;
}
#titulo1{
    color:#C832AF;
}
#titulo2{
    color:#000000
}
.infoProyecto{
    text-align: justify;
    color: #565656;
    font-size: 1em;
}
.masInfo{
    
    background:#C832AF;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}