.espacio{
    background-repeat: no-repeat;
    background-size: 45vh;
    background-position: center;
    height: 50vh;
}
.espacioInterno{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
#espacio1{
    background-image: url(../img/forma1.png); 
}
#espacio2{
    background-image: url(../img/forma2.png);
}
#espacio3{
    background-image: url(../img/forma3.png);
}
.recurso2{
    height: 85vh;
    background-image: url(../img/robot.png);
    background-repeat: no-repeat;
    background-size: 65vh;
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.videoLink{
    text-decoration: underline;
}

.descarga{
    background: transparent;
    border: 1px solid white;
    color: #ffffff
}

@media (max-width: 991px) {
    .recurso1{
        height: auto;
    }   
}
@media (max-width: 767px) {
    .recurso2{
        background-position-x: 35vw;
    }
}